      <!--VISION SECTION BEGINS-->
      <div class="visionSection text-center text-orange">
        <div class="brandLogo">
          <h2>BANDEX</h2>
        </div>
  
        <div class="visionStatement">
          <p>THE HOME OF WONDERFUL<br />CLOTHING</p>
        </div>
      </div>
      <!--VISION SECTION ENDS-->

<footer>
    <div class="socialIcons">
      <div class="icon">
        <a href=""
          ><i class="fa-brands fa-whatsapp fa-2xl icon-green"></i></a>
      </div>

      <div class="icon">
        <a href=""
          ><i class="fa-brands fa-instagram fa-2xl icon-ig"></i></a>
      </div>

      <div class="icon">
        <a href=""
          ><i class="fa-brands fa-facebook fa-2xl icon-fb"></i></a>
      </div>
    </div>

    <p class="text-center text-black">
      <% function getYear(){%>
        <%const now = new Date();%>
        <% const year = now.getFullYear(); %>
        <% return year %>
      <%}%>
      
      &copy <%= getYear() %>  bandex.com. All Rights Reserved
    </p>
  </footer>
</body>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
  crossorigin="anonymous"
></script>

<script>
window.addEventListener("load", () => {
  const loader = document.querySelector(".loader");
  loader.classList.add("loader-hidden");

  loader.addEventListener("transitionend", () => {
    document.body.removeChild("loader");
  });
});
</script>
<script>
  function toggleNav() {
      const navList = document.getElementById('nav-list');
      const button = document.querySelector('.toggle-button');
      
      // Toggle the nav list visibility
      navList.style.display = (navList.style.display === 'block') ? 'none' : 'block';
      
      // Change the button to an "X" or back to the hamburger menu
      if (button.innerHTML === '☰') {
        button.innerHTML = '×'; // Change to "X"
      } else {
        button.innerHTML = '☰'; // Change back to hamburger
      }
    }
  
  </script>
  <script>
    document.querySelector('.increase').addEventListener('click', function() {
  const input = document.querySelector('.quantity-input');
  let currentValue = parseInt(input.value);
  input.value = currentValue + 1;
});

document.querySelector('.decrease').addEventListener('click', function() {
  const input = document.querySelector('.quantity-input');
  let currentValue = parseInt(input.value);
  if (currentValue > 1) {
    input.value = currentValue - 1;
  }
});
  </script>
<script src="/js/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
