      <!--VISION SECTION BEGINS-->
      <div class="visionSection text-center text-orange">
        <div class="brandLogo">
          <h2>BANDEX</h2>
        </div>
  
        <div class="visionStatement">
          <p>THE HOME OF WONDERFUL<br />CLOTHING</p>
        </div>
      </div>
      <!--VISION SECTION ENDS-->

<footer>
    <div class="socialIcons">
      <div class="icon">
        <a href=""
          ><i class="fa-brands fa-whatsapp fa-2xl icon-green"></i></a>
      </div>

      <div class="icon">
        <a href=""
          ><i class="fa-brands fa-instagram fa-2xl icon-ig"></i></a>
      </div>

      <div class="icon">
        <a href=""
          ><i class="fa-brands fa-facebook fa-2xl icon-fb"></i></a>
      </div>
    </div>

    <p class="text-center text-white">
      <% function getYear(){%>
        <%const now = new Date();%>
        <% const year = now.getFullYear(); %>
        <% return year %>
      <%}%>
      
      &copy <%= getYear() %>  bandex.com. All Rights Reserved
    </p>
  </footer>
</body>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
  crossorigin="anonymous"
></script>

<script>
window.addEventListener("load", () => {
  const loader = document.querySelector(".loader");
  loader.classList.add("loader-hidden");

  loader.addEventListener("transitionend", () => {
    document.body.removeChild("loader");
  });
});
</script>
<!-- <script>
  var sliderTrigger = document.getElementsByClassName("slider-trigger")[0];
  var slider = document.getElementsByClassName("slider-parent")[0];
  sliderTrigger.addEventListener("click", function (el) {
    if (slider.classList.contains("active")) {
      slider.classList.remove("active");
    } else {
      slider.classList.add("active");
      sliderTrigger = "X";
    }
  });
</script> -->

<!-- <script>
  function destroySession() {
    req.session.destroy((err) => {
    if (err) {
      console.log(err);
      return res.status(500).send("Server Error");
    }
    res.clearCookie("userData");
    console.log("Cookies Cleared");
  });
} -->
</script>
</html>
