<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>BANDEX</title>
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/root.css" />
    <link rel="stylesheet" href="/admin.css" />
  </head>
  <body>
    <header>
      <div class="slider-container">
        <a href="#" class="slider-trigger">
          <i class="fa fa-th fa-2x icon-orange" aria-hidden="true"></i
        ></a>

        <div class="slider-parent">
          <a class="text-white rmv-decor hover" href="/">Home</a> <br />
          <a class="text-white rmv-decor hover" href="#">Shop</a> <br />
        </div>
      </div>

      <div class="brandName">
        <a class="rmv-decor" href="/"><h1 class="text-orange">BANDEX</h1></a>
      </div>

      <div class="shopButton">
          <button class="btn-bg"><a href="#" class="text-white rmv-decor">SHOP<br />NOW</a></button>
      </div>
    </header>
  </body>
</html>
