<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>BANDEX</title>
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="/root.css" />
    <link rel="stylesheet" href="/loader.css" />
    <link rel="stylesheet" href="/admin.css" />
    <link rel="stylesheet" href="/details.css" />


  </head>
  <body>
        <!--Loader-->
        <div class="loader"></div>
    <header>
      <div class="slider-container">
        <a href="#" class="slider-trigger">
          <i class="fa-solid fa-bars-staggered fa-2xl icon-orange"></i> 
        </a>

        <div class="slider-parent">
          <a class="text-white rmv-decor hover" href="/">Home</a> <br />
          <a class="text-white rmv-decor hover" href="#">Shop</a> <br />
        </div>
      </div>

      <div class="brandName">
        <a class="rmv-decor" href="/"><h1 class="text-orange">BANDEX</h1></a>
      </div>

      <div>
        <!-- <i class="fa-sharp-duotone fa-solid fa-cart-shopping"></i> -->
        <!-- <i class="fa-sharp-duotone fa-solid fa-cart-shopping " style="--fa-primary-color: #e9400a; --fa-secondary-color: #c1c1c1;"></i> -->
        <!-- <i class="fa-sharp-duotone fa-solid fa-cart-shopping fa-flip-horizontal" style="--fa-primary-color: #e9400a; --fa-secondary-color: #c1c1c1;"></i> -->
        <!-- <i  class="fa-sharp-duotone fa-cart-shopping fa-flip-horizontal fa-flip"  style="--fa-primary-color: #e9400a; --fa-secondary-color: #c1c1c1;--fa-animation-duration: 10s;"></i> -->
        <a href="">
        <i class="fa-solid fa-cart-shopping fa-flip-horizontal fa-2xl fa-flip" style="color: #e9400a; --fa-animation-duration: 5s;"></i>
        </a>
      </div>

      <!-- <div class="shopButton">

          <button class="btn-bg"><a href="#" class="text-white rmv-decor">SHOP<br />NOW</a></button>
      </div> -->

      
    </header>
  </body>
</html>
