<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1 style="text-align: center">
      Welcome <% if(locals.email){%> <%= email %>
    </h1>
    <%} %> <% if(locals.created){%>
    <h2><%= created %> click <a href="/">home</a> to view</h2>
    <%} %>
    <a href="/logout"><button type="submit">Logout</button></a>
    <a href="/signup">Signup</a>
  </body>
</html>
