<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <link rel="stylesheet" href="/style.css" />
  <body>
    <div class="form-container">
      <h2 class="text-white">LOGIN</h2>
      <form action="/login" method="post">
        <div class="form-group">
          <%if(locals.created){%>
            <h4><%= created %></h4>
          <%}  %>

          <% if(locals.error){%>
            <h4><%= error %></h4>
          <% } %>
          <label class="text-white" for="name">E-mail</label>
          <input
            type="text"
            id="email"
            name="email"
            placeholder="E-mail"
            required
            autocomplete="off"
          />
        </div>

        <div class="form-group">
          <label class="text-white" for="password">Password</label>
          <input
            type="password"
            id="pswrd"
            name="password"
            placeholder="Enter your password"
            required
          />

        </div>
        <div class="text-white">
          <input type="checkbox" onclick="toggleVisibility()"/> 
          Show password</br>
        </div>
          
        <button type="submit" class="submit-btn">Login</button>
      </form>
      <p class="text-white">Don't have an account? <a class="text-white" href="/signup">Signup</a></p>
    </div>

    <script>  
      function toggleVisibility() {  
        var getPasword = document.getElementById("pswrd");  
        if (getPasword.type === "password") {  
          getPasword.type = "text";  
        } else {  
          getPasword.type = "password";  
        }  
      }  
      </script>  
  </body>
</html>
