<%- include("partials/header.ejs") %>
<!--HERO SECTION BEGINS-->
<div class="heroSection">
  <div class="model1">
    <img src="/img/model1.jpg" alt="model1" />
  </div>

  <div class="model2">
    <img src="/img/model2.jpg" alt="model2" />
  </div>
</div>
<!--HERO SECTION ENDS-->
<%- include("./catalogue.ejs") %> <%- include("partials/footer.ejs") %>
