.admin-panel {
  color: #000;
  text-align: center;
}

.admin-panel h1 {
  margin-bottom: 1.5rem;
}

.adminBtns {
  display: block;
  margin-top: 1.5rem;
}

.adminBtns button {
  padding: 5px;
  width: 60px;
  border-radius: 10px;
}

@media (max-width: 767px) {
  .admin-panel h1{
    font-size: 24px;
  }
}
