* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* background-image: url(./img/codioful-formerly-gradienta-JYbxRcB9pvw-unsplash.jpg);
  background-size: cover;
  background-position: center; */
  background: ghostwhite;
  overflow-x: hidden;
}

/* body::-webkit-scrollbar {
  width: 1rem;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #fff;
}

body::-webkit-scrollbar-thumb {
  background-color: #e9400a;
} */

button {
  cursor: pointer;
}

.text-white {
  color: white;
}
.text-orange {
  color: #e9400a;
}
.text-center {
  text-align: center;
}

.btn-bg {
  background-color: #e9400a;
  border: none;
}

.btn-cart {
  background: #3b71ca;
  border: none;
}

.bg-white {
  background: white;
}

.bg-seashell {
  background: #fff5ee;
}

.icon-orange {
  color: #e9400a;
}
.icon-green {
  color: green;
}

.icon-ig {
  color: #d62976;
}

.icon-fb {
  color: #1877f2;
}

.rmv-decor {
  text-decoration: none;
}

.hover:hover {
  background: #e9400a;
  transition-delay: 0.2s;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0px;
  flex-wrap: wrap;
}

#logo {
  font-size: 2rem;
}

.mockup-nav ul {
  list-style: none;
  text-align: center;
  display: flex;
}
.mockup-nav ul li {
  display: inline-block;
  position: relative;
}
.mockup-nav ul li a {
  display: block;
  padding: 20px 25px;
  color: black;
  text-decoration: none;
  text-align: left;
  font-size: 16px;
  transition: background-color 0.5s ease-in-out;
  margin-right: 0.2rem;
}
.mockup-nav ul li ul.dropdown li {
  display: block;
  background: white;
}
.mockup-nav ul li ul.dropdown {
  width: 15rem;
  position: absolute;
  z-index: 999;
  display: none;
}

.mockup-nav ul li ul.dropdown a {
  padding: 10px 10px;
  transition: width 1s;
}

.mockup-nav ul li ul.dropdown a:hover {
  border-radius: 10px;
}

.mockup-nav ul li a:hover {
  text-decoration: underline;
  border-radius: 10px;
}

ul.dropdown li a:hover {
  background: #1f2537;
  color: white;
  border-radius: 10px;
  text-decoration: none;
}
.mockup-nav ul li:hover ul.dropdown {
  display: block;
}

a.shop-now-nav-btn {
  color: white;
  border: none;
  border-radius: 20px;
  padding: 12px;
  width: 10%;
  height: 10%;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
}

.phone-nav {
  width: 100%;
  /* background: red; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 4px;
}


.phone-nav button {
  background: #fff;
  color: #e9400a;
  border: none;
  font-size: 30px;
  width: 40px;
  height: 30px;
}

.dropdown-content {
  display: none; /* Hidden by default */
  /* border: 1px solid #ccc; */
  padding: 0 10px 0 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  /* background-color: #e9e8dc; */
  position: relative;
  text-align: justify;
  /* line-height: 2rem; */
}

.nav-list {
  display: none; /* Initially hidden */
  list-style-type: none;
  padding: 0px 20px;
  /* padding: 0; */
  /* margin: 0; */
  width: 100%;
}

.nav-list ul {
  /* padding: 10px; */
  margin: 0;
  list-style-type: none;
}

.nav-list ul li {
  margin: 10px 0px;
  display: block;
  border: 2px solid #e9400a;
  padding: 10px;
}

.nav-list ul li > a {
  color: #000;
  text-decoration: none;
  width: 100%;
}

/*HERO SECTION IMAGES*/
.heroSection {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.model1,
.model2 {
  width: 40%;
}
.model1 > img,
.model2 > img {
  width: 50%;
  border-radius: 20%;
}

.model1 {
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
}

.model2 {
  margin-left: 20px;
}

/*SHOPPPING SECTION*/
.shoppingSection {
  margin-top: 30px;
  padding: 0px 20px 20px 20px;
}

.shoppingSectionH2 h2 {
  padding: 30px;
}

.shopList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.shopList img {
  width: 300px;
  height: 360px;
  border-radius: 5px;
}

.item {
  margin: 20px 20px 20px 20px;
  margin-bottom: 50px;
}

.item button {
  padding: 5px;
  width: 80px;
  border-radius: 10px;
  display: block;
  margin: 0.3rem auto 0 auto;
}

figcaption {
  text-align: center;
  margin-top: 0.3rem;
}

#shopsection-btn {
  display: block;
  margin: 0 auto 0px auto;
  padding: 10px;
}

.edit-and-delete {
  /* background: red; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1.5rem;
}

.editBtn,
.deleteBtn,
.adminPanelBtn {
  padding: 5px;
  width: 60px;
  border-radius: 10px;
}

.editBtn {
  background: #3b71ca;
  color: white;
  text-align: center;
}

.deleteBtn {
  background: #dc4c64;
  color: white;
  text-align: center;
}

.adminPanelBtn {
  background: #54b4d3;
  color: black;
  text-align: center;
}

/*SHOPPPING SECTION*/

/*VISION SECTION*/
.visionSection {
  height: 20vh;
  padding: 30px 30px 30px 30px;
}
.brandLogo {
  background-color: #fff;
  width: 230px;
  display: block;
  margin: 0px auto 0px auto;
}
/*VISION SECTION*/

button#home-page-cart {
  background: #e9400a;
  width: 100%;
  border: none;
  color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  gap: 10px;
}



/*FOOTER SECTION*/
footer {
  height: 20vh;
  /* background: #48304d; */
  /* background: rgb(74, 70, 70); */
}

.socialIcons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  padding: 20px;
}

/*FOOTER SECTION*/

@media (max-width: 10000px) {
  .phone-nav {
    display: none;
  }
}

@media (max-width: 768px) {
  body {
    background-blend-mode: screen;
  }
  .model1 > img,
  .model2 > img {
    width: 80%;
  }

  /* .shopList img {
    width: 250px;
    height: 320px;
  }

  .item {
    margin-bottom: 30px;
    width: 70%;
  } */

  .edit-and-delete {
    justify-content: space-around;
  }

  footer {
    margin-top: -10px;
  }
}

@media (max-width: 480px) {
  header {
    display: none;
  }

  .phone-nav {
    display: flex;
    /* background: red; */
  }

  .phone-nav>div>button{
    background: none;
    height: 50px;
    width: 100%;
    
  }
}
